---
---

/* ===COLOURS=== */
$HB-dark: rgb(82,98,87);

html {
font-size: 1em;
line-height: 1.5em;
color: $HB-dark;
font-family: sans-serif;
}
a {
  color: $HB-dark;
    text-decoration: none;
}
h1 {
  font-size: 1.5em;
}
footer {
  font-size: 0.7em;
}

@import "nav", "footer";
