<nav>
  <ul>
    <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
    <li><a href="{{site.baseurl}}/what-we-do/" class="{% if page.url == '/what-we-do/' %}current{% endif %}">What We Do</a></li>
    <li><a href="{{site.baseurl}}/about-us/" class="{% if page.url == '/about-us/' %}current{% endif %}">About Us</a></li>
    <li><a href="{{site.baseurl}}/contact/" class="{% if page.url == '/contact/' %}current{% endif %}">Contact</a></li>
  </ul>
</nav>
